<div class="jumbotron text-center">
  <h1><strong>{{TiendaMultiservicio}}</strong></h1>
</div>

<div class="container">
  <div class="row">
    <div class="col-sm-12">
      <h3>Bienvenido</h3>
      <p>
        Gracias por utilizar nuestra plataforma de la tienda Multiservicio.

        Podras realizar la compra de diferentes productos en nuestro inventario.
      </p>
    </div>
  </div>
  <div class="row">
    <button class="btn btn-primary" (click)="Navegar()"> VER PRODUCTOS </button>
  </div>
</div>
